<body>
    <p></p>
    <main id="main">
        <!-- ======= Sección inicio ======= -->
        <section>
            <div class="inicio--">
                <div class="titulo">
                    <p><strong>{{title1}}</strong> </p>
                </div>
            </div>
        </section> 
        <!--Fin inicio-->

        <!-- ======= Sección Servicios======= -->
        <section id="servios serviciosOfrecidos--">
            <app-serviciosOfrecidos></app-serviciosOfrecidos>
            <app-serviciosOfrecidos2></app-serviciosOfrecidos2>
        </section>
        <!--Fin serviciosOfrecidos-->

        <!-- ======= Sección Noticias======= -->
        <section id="news">
            <div class="noticias--"></div>
            <app-menuNoticias></app-menuNoticias>
        </section>
        <!--Fin noticias-->
    </main>
</body>
<router-outlet></router-outlet>
