/**======= Sección inicio =======***/
.titulo{
    font-size: 36px;
    text-align: center;
    color: #72bb53;
    font-family: Zapf Chancery, cursive;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}