/* Estilos para los tab labels */
/*Cuando no está seleccionado*/
::ng-deep.mat-tab-link{
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color:#00a4d3 ;
  font-family: helvetica;
  font-size: 18px;
  min-height: 80px !important;
}
/*/*Cuando está seleccionado*/
::ng-deep.mat-tab-link:focus{
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #ffa834;
  font-family: helvetica;
  font-size: 18px;
  min-height: 80px !important;
}
/*/*Cuando se pasa el mouse*/
::ng-deep.mat-tab-link:hover{
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: #ffa834;
  font-family: helvetica;
  font-size: 18px;
  min-height: 80px !important;
}
::ng-deep.mat-tab-group{
  height: 80px;
}

