<body>
  <p></p>
  <div class="container">
    <div class="titulo">
        <p><strong>{{title}}</strong> </p>
    </div>
  </div>
   <!--=====Sección mosaico sedes con mat-card====-->
  <section>
  <div class="page-container" style="text-align: center;">
    <div class="chains">
      <div *ngFor="let sede of sedes">
        <mat-card *ngFor="let sede of sede.sedes" class="mat-elevation-z7">
        <img mat-card-image src="assets/img/sedes/{{sede.icono}}">
        <mat-card-content>
          <p>
            <a routerLink="/subsedes/{{sede.nombre_sede}}"><!--Ruta para ver info de sedes-->
              {{sede.nombre_sede}}</a></p>
        </mat-card-content>
      </mat-card>
    </div>
    </div>  </div>
  </section>
     <!--=====Fin Sección mosaico sedes con mat-card====-->
  </body>

