<body>
  <div class="container" style="height:64px"></div>
    <!--=====Sección mosaico procedimientos ====-->
<section class="procedimientos">
  <div class="container">
    <div *ngFor="let procedimiento of procedimientos" class="principal">
      <div *ngFor="let procedimiento of procedimiento.procedimientos" class="wrapper" >
        <img src="assets/img/icons/{{procedimiento.icono}}" width="64px"
            class="ico">
            <p> 
              <button mat-flat-button routerLink="/servicios/subprocedimientos/{{procedimiento.nombre_servicio}}">
                {{procedimiento.nombre_servicio}}</button></p>
        </div>
      </div>
    </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  </section>
      <!--=====Fin sección mosaico procedimientos ====-->
  </body>    
  